@page "/"

@using Expensely.Contracts.Expenses
@using Expensely.Presentation.StateManagement.Facades

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<ExpensesState> State
@inject ExpensesFacade Facade

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3">Expenses</h3>

                @if (State.Value.IsLoading || State.Value.Expenses == null)
                {
                    <div>Loading...</div>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Amount</th>
                                <th>Created On</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ExpenseDto expense in State.Value.Expenses)
                            {
                                <tr>
                                    <td>@expense.Id</td>
                                    <td>@expense.FormattedExpense</td>
                                    <td>@expense.CreatedOnUtc</td>
                                    <td>
                                        <button class="btn btn-danger" @onclick="() => Facade.RemoveExpense(expense.Id)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Facade.GetExpenses();
    }
}
