@page "/login"

@layout EmptyLayout
@inherits PageComponent

@using Presentation.Services.Interfaces
@inject IAuthenticationService AuthenticationService

<div class="d-flex align-items-center justify-content-center" style="height: 100% !important">
    <div class="card text-center shadow-5" style="width: 350px !important">
        <div class="card-body">
            <h2 class="mb-5 text-primary">Expensely</h2>

            <div class="form-outline mb-4">
                <input type="email" class="form-control" id="email" @bind="_email" />
                <label for="email" class="form-label">Email address</label>
            </div>
            <div class="form-outline">
                <input type="password" class="form-control" id="password" @bind="_password" />
                <label for="password" class="form-label">Password</label>
            </div>

            <button type="button" class="btn btn-primary mt-4 mb-3" style="width: 150px !important" @onclick="LoginUser">
                @Resource("Login")
            </button>
        </div>
    </div>
</div>

@code {
    private string _email = string.Empty;
    private string _password = string.Empty;

    private async Task LoginUser()
    {
        await AuthenticationService.SignInAsync(_email, _password);
    }
}