@using Expensely.Presentation.Services.Interfaces
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Expensely</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <div class="mr-auto"></div>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="dropleft">
                            <i id="authDropdown" class="fas fa-ellipsis-v"
                               data-toggle="dropdown"
                               aria-expanded="false"
                               style="color: white; margin-top: 0.6rem"></i>

                            <ul class="dropdown-menu" aria-labelledby="authDropdown"
                                style="margin-top: 35px; margin-right: -10px;">
                                <li>
                                    <a class="dropdown-item" href="#"
                                       @onclick="() => AuthenticationService.SignOutAsync()">
                                        <i class="fas fa-sign-out-alt fa-lg mr-3"></i> Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="pt-5 mb-5" style="margin-left: 6% !important; margin-right: 6% !important">
    <div class="container-fluid mt-5">
        @Body
    </div>
</main>