<mat-list>
	<h2>Expenses</h2>

	<ng-container
		*ngFor="let expense of expenses; let last = last; trackBy: trackExpenses"
	>
		<mat-list-item>
			<mat-icon matListIcon>attach_money</mat-icon>

			<p matLine>
				{{ expense.date | date }}
			</p>

			<p matLine>
				{{ expense.name }}
			</p>

			<div>{{ expense.formattedExpense }}</div>

			<div class="expense-actions">
				<button mat-icon-button [matMenuTriggerFor]="expenseMenu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #expenseMenu="matMenu" class="nav-bar-menu">
					<div class="expense-menu-container">
						<button mat-menu-item (click)="remove(expense.id)"> 
							<mat-icon>delete</mat-icon>
							<span>Remove</span>
						</button>
					</div>
				</mat-menu>
			</div>
		</mat-list-item>
		<mat-divider *ngIf="!last"></mat-divider>
	</ng-container>
</mat-list>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
