.nav-bar-menu-container {
	min-width: 200px !important;
}

.fixed-to-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

mat-toolbar {
	z-index: 1000;
}

.spacer {
	flex: 1 1 auto;
}

@media (min-width: 961px) {
	.spacer {
		flex: auto;
	}
}
